:host ::ng-deep {
  position: sticky;
  top: 0;
  z-index: 1;

  .navbar {
    display: flex;
    align-items: center;
    padding: 1rem;

    .navbar-left {
      display: flex;
      align-items: center;
      width: 40%;

      a {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .navbar-right {
      display: flex;
      align-items: center;
      width: 100%;

      a {
        text-decoration: none;
      }

      p-menubar {
        width: 100%;
      }

      .p-menubar {
        border: none;
        width: 100%;

        ul {
          display: flex;
          gap: 0.5rem;
        }

        .p-menuitem-link {
          font-size: 16px;
          text-decoration: none;
          border-radius: 5px;
        }

        .p-menubar-end {
          margin-left: auto;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }

      p-inputSwitch {
        width: auto;
        height: auto;
        margin-left: 0.5rem;
      }
    }
  }
}
