:host ::ng-deep {
  position: sticky;
  top: 0;
  z-index: 1;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;

    .navbar-left {
      display: flex;
      align-items: center;

      a {
        color: #000000;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .p-menubar {
      background: transparent;
      border: none;

      .p-menuitem-link {
        color: #000;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          color: #3575e2;
        }
      }

      .p-menuitem {
        &.p-button-primary .p-menuitem-link {
          background-color: #3575e2;
          color: #fff;
          margin: 0 0.5rem;

          &:hover {
            background-color: #2c63b8;
          }
        }

        &.p-button-secondary .p-menuitem-link {
          background-color: #f9f9f9;
          color: #000;
          margin: 0 0.5rem;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      .p-menubar-end {
        margin-left: auto;
      }
    }
  }
}
