:host ::ng-deep {
  position: sticky;
  top: 0;
  z-index: 1;

  .navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1rem;

    .navbar-left {
      display: flex;
      flex: 0.4;

      a {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
      }
    }

    p-menubar {
      display: flex;
      flex: 0.6;

      .p-menubar {
        flex: 1;
        gap: 10px;
        background: transparent;
        border: none;

        .p-menubar-root-list {
          width: auto;
        }

        button.p-menuitem-link {
          border: none;
        }

        li > .p-menuitem-content {
          transition: all 0.3s;
          margin: auto 10px;
        }

        .p-menuitem-link {
          font-size: 16px;
          text-decoration: none;
          border-radius: 6px;
          transition: all 0.3s;
        }

        .p-menuitem {
          &.p-button-primary .p-menuitem-link {
            transition: all 0.3s;
          }

          &.p-button-secondary .p-menuitem-link {
            transition: all 0.3s;
          }
        }
      }
    }
  }

  @media screen and (max-width: 960px){
    .navbar {
      p-menubar {
        .p-menubar {
          li > .p-menuitem-content {
            margin: 5px 10px;
          }
        }
      }
    }
  }
}
