:host {
  padding: 15px;

  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;

    div {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @layer primeng {
      .p-inputtext,
      p-floatlabel,
      p-button, {
        width: 100%;
      }
    }
  }
}
