<div class="container">
  <div class="content-wrapper">
    <div class="avatar-container">
      @if(profile$ | async; as profile){
        <app-profile-header
          [firstname]="profile.firstname"
          [lastname]="profile.lastname"
          [menuItems]="menuItems">
        </app-profile-header>
      }
    </div>
    <div class="form-container">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="update-form">
        <app-form-field label="Old Password" fieldId="oldPassword" [control]="passwordForm.get('oldPassword')!">
          <p-password id="oldPassword" formControlName="oldPassword" [toggleMask]="true"  feedback="false"></p-password>
        </app-form-field>

        <app-form-field label="New Password" fieldId="newPassword" [control]="passwordForm.get('newPassword')!">
          <p-password id="newPassword" formControlName="newPassword" [toggleMask]="true" feedback="false"></p-password>
        </app-form-field>

        <div class="form-actions">
          <button pButton type="submit" label="Change Password" [disabled]="!passwordForm.valid"></button>
        </div>
      </form>
    </div>
  </div>
</div>
