@if ( jobOffers$ | async; as jobs ) {
  @if (jobsCount !== undefined) {
    <h1> {{ 'job.jobFound' | translate: {jobsLength: jobsCount} }}</h1>
  }
    @for (job of jobs; track job.id) {
      <app-job-card [job]="job"></app-job-card>
    }
}
@else {
  <p-progressSpinner ariaLabel="loading" />
}

@if (elementsPerPage !== undefined && page !== undefined) {
  <p-paginator
    [first]="page() * elementsPerPage"
    (onPageChange)="onPageChange($event)"
    [rows]="elementsPerPage"
    [totalRecords]="jobsCount"
    [style]="{ backgroundColor: '#FAFAFA'}"
  />
}