<nav class="navbar">
  <div class="navbar-left">
    <a href="#">{{ siteName }}</a>
  </div>
  <div class="navbar-center">
    <button pButton type="button" label="{{ 'Start a search' | translate }}" class="text-button" [text]="true" severity="secondary"></button>
    <button pButton type="button" label="{{ 'Jobs list' | translate }}" class="text-button" [text]="true" severity="secondary"></button>
  </div>
  <div class="navbar-right">
    <button pButton type="button" label="{{ 'Log in' | translate }}" class="p-button-secondary" severity="secondary"></button>
    <button pButton type="button" label="{{ 'Sign up' | translate }}" class="p-button-primary" severity="primary"></button>
  </div>
</nav>
