<nav class="navbar">
  <div class="navbar-left">
    <a href="#">{{ siteName }}</a>
  </div>
  <div class="navbar-center">
    <button pButton type="button" label="Start a search" class="text-button" [text]="true" severity="secondary"></button>
    <button pButton type="button" label="Jobs list" class="text-button" [text]="true" severity="secondary"></button>
  </div>
  <div class="navbar-right">
    <button pButton type="button" label="Log in" class="p-button-secondary" severity="secondary"></button>
    <button pButton type="button" label="Sign up" class="p-button-primary" severity="primary"></button>
  </div>
</nav>
