@if (job$ | async; as job) {
  <p-card>
    <ng-template pTemplate="title">
      {{ job.jobFunction.name | translate }}
    </ng-template>
    <ng-template pTemplate="subtitle">
      <div class="subtitle">
        <div>
          <i class="pi pi-user"></i>
          {{ job.jobFunction.name| translate }}
        </div>
        <div>
          <i class="pi pi-briefcase"></i>
          {{ job.agent.company.name | translate }}
        </div>
        <div>
          <i class="pi pi-map-marker"></i>
          {{ job.zipCity.city }}
        </div>
        <div>
          <i class="pi pi-calendar"></i>
          {{ 'job.published' | translate}}: {{ job.createdAt | publishingPipe }}
        </div>
        <div>
          <i class="pi pi-clipboard"></i>
          {{ job.contractType.name | translate }}
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="buttons">
          <p-button>{{ 'job.apply' | translate}}</p-button>
          <p-button [outlined]="true" severity="secondary">{{'job.save' | translate}}</p-button>
        </div>
        <p>
            {{ job.description | translate }}
        </p>
        <div class="salary">
            <p> Minimum salary : {{ job.annualGrossSalaryMin }} </p>
            <p> Maximum salary : {{ job.annualGrossSalaryMax }} </p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="footer">
        <p-button severity="primary">{{ 'job.apply' | translate}}</p-button>
        <p-button [outlined]="true" severity="secondary">{{'job.save' | translate}}</p-button>
      </div>
    </ng-template>
  </p-card>
}
