<p-card [style]="{ marginTop: '20px' }">
  <ng-template pTemplate="title">
    {{ job.jobFunction.name | translate }}
  </ng-template>
  <ng-template pTemplate="subtitle" style="display: flex;">
    <div style="display: flex;">
      <div style="margin-right: 20px;">
        <i class="pi pi-briefcase"></i>
        {{ job.agent.company.name | translate }}
      </div>
      <div>
        <i class="pi pi-map-marker"></i>
        {{ job.zipCity  | locationPipe | translate }}
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    {{ job.description | translate }}
  </ng-template>
  <ng-template pTemplate="footer">
    {{ job.publishingDate  | publishingPipe | translate}}
  </ng-template >
</p-card>
