<p-card class="card" (click)="showDetails()">
  <ng-template pTemplate="title">
    {{ item.jobFunction.name }}
  </ng-template>
  <ng-template pTemplate="subtitle" style="display: flex;">
    <div style="display: flex;">
      <div style="margin-right: 20px;">
        <i class="pi pi-briefcase"></i>
        {{ item.agent.company.name }}
      </div>
      <div>
        <i class="pi pi-map-marker"></i>
        {{ item.zipCity.city }}
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    {{ item.description }}
  </ng-template>
  <ng-template pTemplate="footer">
    {{ item.createdAt  | publishingPipe }}
  </ng-template >
</p-card>
