<p-card class="card" (click)="showDetails()" pBadge
        [value]="'application.applicationStatus.'.concat(item.applicationStatus | lowercase) | translate"
        [severity]="getSeverity()"
>
  <ng-template pTemplate="title">
    {{ item.jobOffer.jobFunction.name }}
  </ng-template>
  <ng-template pTemplate="subtitle" style="display: flex;">
    <div style="display: flex;">
      <div style="margin-right: 20px;">
        <i class="pi pi-briefcase"></i>
        {{ item.jobOffer.agent.company.name }}
      </div>
      <div>
        <i class="pi pi-map-marker"></i>
        {{ item.jobOffer.zipCity.city }}
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    {{ item.jobOffer.description }}
  </ng-template>
  <ng-template pTemplate="footer">
    {{ item.applyDate  | publishingPipe }}
  </ng-template >
</p-card>
