<div class="flex justify-content-center">
  <div class="col-8">
    <p-carousel
      [value]="jobs"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-job pTemplate="item">
        <div class="border-1 surface-border border-round m-1 p-1 ">
          <p-card header="{{ job.jobFunction.name | translate }}" class="card">
            <ng-template pTemplate="header">
              <img class="img-banner" alt="Card-job" src="/assets/images/banner-job.png"/>
              <p>{{ 'carousel.published' | translate }} : {{ job.createdAt | publishingPipe }}</p>
            </ng-template>
            <ng-template pTemplate="content">
              <p class="short-ellipsis">
                {{ job.description | translate }}
              </p>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="flex gap-3 mt-1">
                <p-button [outlined]="true" label="{{'carousel.view' | translate}}" severity="secondary" class="w-full"
                          styleClass="w-full" (onClick)="displayDetails(job.id)"/>
                @if (isLoggedIn()) {
                  <p-button [outlined]="true" label="{{'carousel.apply' | translate}}" class="w-full"
                            styleClass="w-full" (onClick)="applyJob(job)"/>
                }
              </div>
            </ng-template>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    @if (selectedJob) {
      <p-dialog header="{{'searchBar.function' | translate}}"
                [(visible)]="displayApplyDialog"
                [modal]="true"
                [style]="{ width: '600px' }"
                [draggable]="false"
                (onHide)="closeDialog()">
        <app-apply-job-form (closeDialog)="closeDialog()" [jobId]="(selectedJob.id)"></app-apply-job-form>
      </p-dialog>
    }
  </div>
</div>
