<div class=" flex justify-content-center">
  <div class="col-8">
    <p-carousel
      [value]="jobs"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-job pTemplate="item">
        <div class="flex flex-column border-1 surface-border border-round m-1 p-1">
          <div class="flex align-items-center justify-content-center h-4rem  font-bold border-round m-2">
            <img class="img-banner" alt="Card-job" src="/assets/images/banner-job.png"/>
          </div>
          <div
            class="mb-1 font-semibold text-1xl flex align-items-center justify-content-center h-2rem font-bold  border-round m-2">
            {{ job.jobFunction.name | translate }}
          </div>
          <div>{{ 'carousel.published' | translate }} : {{ job.createdAt | publishingPipe }}</div>
          <div class="flex align-items-center justify-content-start h-6rem  border-round m-2 ">
            {{ job.description | translate }}
          </div>
          <div class="flex align-items-center  h-4rem  border-round m-2 gap-3 mt-1">
            <p-button [outlined]="true" label="{{'carousel.view' | translate}}" severity="secondary" class="w-full"
                      styleClass="w-full" (onClick)="displayDetails(job.id)"/>
            @if (isLoggedIn()) {
              <p-button [outlined]="true" label="{{'carousel.apply' | translate}}" class="w-full"
                        styleClass="w-full" (onClick)="applyJob(job)"/>
            }
          </div>
        </div>
      </ng-template>
    </p-carousel>
    @if (selectedJob) {
      <p-dialog header="{{'searchBar.function' | translate}}"
                [(visible)]="displayApplyDialog"
                [modal]="true"
                [style]="{ width: '600px' }"
                [draggable]="false"
                (onHide)="closeDialog()">
        <app-apply-job-form (closeDialog)="closeDialog()" [jobId]="(selectedJob.id)"></app-apply-job-form>
      </p-dialog>
    }
  </div>
</div>
