<div class="container">
  <div class="content-wrapper">
    <div class="avatar-container">
      <app-profile-header
        [firstname]="updateForm.get('firstname')?.value"
        [lastname]="updateForm.get('lastname')?.value"
        [menuItems]="menuItems">
      </app-profile-header>
    </div>
    <div class="form-container">
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="update-form">
        <app-form-field label="First Name" fieldId="firstname" [control]="updateForm.get('firstname')!">
          <input id="firstname" type="text" pInputText formControlName="firstname">
        </app-form-field>

        <app-form-field label="Last Name" fieldId="lastname" [control]="updateForm.get('lastname')!">
          <input id="lastname" type="text" pInputText formControlName="lastname">
        </app-form-field>

        <app-form-field label="Phone Number" fieldId="phoneNumber" [control]="updateForm.get('phoneNumber')!">
          <input id="phoneNumber" type="text" pInputText formControlName="phoneNumber">
        </app-form-field>

        <app-form-field label="Contact Email" fieldId="contactEmail" [control]="updateForm.get('contactEmail')!">
          <input id="contactEmail" type="email" pInputText formControlName="contactEmail">
        </app-form-field>

        <app-form-field label="Street" fieldId="street" [control]="updateForm.get('street')!">
          <input id="street" type="text" pInputText formControlName="street">
        </app-form-field>

        <app-form-field label="City" fieldId="city" [control]="updateForm.get('city')!">
          <input id="city" type="text" pInputText formControlName="city">
        </app-form-field>

        <app-form-field label="ZIP" fieldId="zip" [control]="updateForm.get('zip')!">
          <input id="zip" type="text" pInputText formControlName="zip">
        </app-form-field>

        <app-form-field label="Country" fieldId="country" [control]="updateForm.get('country')!">
          <input id="country" type="text" pInputText formControlName="country">
        </app-form-field>

        @if(isSeeker()){
          <ng-container>
            <app-form-field label="Birth Date" fieldId="birthDate" [control]="updateForm.get('birthDate')!">
              <p-calendar id="birthDate" formControlName="birthDate" dateFormat="dd/mm/yy"></p-calendar>
            </app-form-field>

            <app-form-field label="Gender" fieldId="gender" [control]="updateForm.get('gender')!">
              <p-dropdown id="gender" [options]="genderOptions" formControlName="gender" optionLabel="label" optionValue="value"></p-dropdown>
            </app-form-field>
          </ng-container>
        }
        <div class="form-actions">
          <button pButton type="submit" label="Update Profile" [disabled]="!updateForm.valid"></button>
        </div>
      </form>
    </div>
  </div>
</div>
