<div class="flex justify-content-center flex-wrap">
  <div class="card" (keydown.enter)="onSearchJob()">
    <p-inputIcon class="margin" styleClass="pi pi-search"/>
    <input type="text" pInputText [(ngModel)]="searchJob" (ngModelChange)="filterJobs()"
           placeholder="({{ 'searchBar.function' | translate }} {{ 'searchBar.or' | translate }} {{ 'searchBar.company' | translate }})"/>
    <p-inputIcon class="margin" styleClass="pi pi-send"/>
    <input type="text" pInputText [(ngModel)]="searchCity" (ngModelChange)="filterJobs()"
           placeholder="({{'searchBar.city' | translate}} {{ 'searchBar.or' | translate }} {{'searchBar.zipCode' | translate}})">
    <p-button (onClick)="onSearchJob()" [outlined]="true"  class="margin" label="{{ 'searchBar.findJob' | translate}}"/>
    <div *ngIf="showResult">
      <div *ngIf="displayResult(); else noResults">
        <div *ngFor="let offer of displayJob" class="job-offer">
          <h3>{{ offer.jobFunction.name }}</h3>
          <p>{{ offer.description }}</p>
          <p>{{ offer.agent.company.name }}</p>
          <p>{{ offer.zipCity.zip }} {{ offer.zipCity.city }}</p>
          <p><strong>Posted Date:</strong> {{ offer.createdAt | date }}</p>
          <p-button [outlined]="true" label="{{'carousel.view' | translate}}" severity="secondary" (onClick)="displayDetails(offer.id)"/>
        </div>
      </div>
      <ng-template #noResults>
        <p>No job offers available.</p>
      </ng-template>
    </div>
    </div>
</div>
