.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @layer primeng {
    .p-inputtext,
    p-floatlabel,
    p-button, {
      width: 100%;
    }
  }
}
