html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 3.563rem;

  @layer primeng {
    .p-inputtext,
    p-floatlabel,
    p-button, {
      width: 100%;
    }
  }
}
