html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  @layer primeng {
    .p-inputtext,
    p-floatlabel,
    p-button, {
      width: 100%;
    }
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
