<h1>{{ 'welcome' | translate }}!</h1>

<h2>{{ 'auth.login.message' | translate }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <app-form-field [control]="form.controls['email']" fieldId="in-email" label="email">
    <input type="text" pInputText id="in-email" formControlName="email">
  </app-form-field>

  <app-form-field [control]="form.controls['password']" fieldId="in-password" label="password">
    <p-password formControlName="password" [toggleMask]="true" id="in-password" styleClass="w-full" feedback="false"></p-password>
  </app-form-field>

  <div class="flex justify-content-center">
    <p-button label="{{ 'auth.login.button.submit' | translate }}" type="submit" styleClass="w-full" [disabled]="form.invalid"></p-button>
  </div>
</form>
